$primary: rgba(13, 178, 196, 1);
$secondary: rgba(46, 64, 87, 1);
$danger: rgba(244, 96, 54, 1);

// COLOR PALLETE
$color1: rgba(241, 227, 243, 1);
$color2: rgba(46, 64, 87, 1);
$color3: rgba(244, 96, 54, 1);
$color4: rgba(13, 178, 196, 1);
$color5: rgba(91, 133, 170, 1);
